In [10]:
import pandas as pd
import matplotlib.pyplot as plt

In [11]:
url = "https://data-class-mars-challenge.s3.amazonaws.com/Mars/index.html"

In [12]:
mars_data = pd.read_html(url)

In [13]:
data = mars_data
data

[        id terrestrial_date   sol   ls  month  min_temp  pressure
 0        2       2012-08-16    10  155      6     -75.0     739.0
 1       13       2012-08-17    11  156      6     -76.0     740.0
 2       24       2012-08-18    12  156      6     -76.0     741.0
 3       35       2012-08-19    13  157      6     -74.0     732.0
 4       46       2012-08-20    14  157      6     -74.0     740.0
 ...    ...              ...   ...  ...    ...       ...       ...
 1862  1889       2018-02-23  1973  133      5     -78.0     730.0
 1863  1892       2018-02-24  1974  134      5     -77.0     729.0
 1864  1894       2018-02-25  1975  134      5     -76.0     729.0
 1865  1893       2018-02-26  1976  135      5     -77.0     728.0
 1866  1895       2018-02-27  1977  135      5     -77.0     727.0

 [1867 rows x 7 columns]]

In [15]:
#mars_df = pd.DataFrame(data, columns =["id", "terrestrial_date", "sol", "ls", "month", "min_temp", "pressure"])
data[0].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1867 entries, 0 to 1866
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                1867 non-null   int64
 1   terrestrial_date  1867 non-null   object
 2   sol               1867 non-null   int64
 3   ls                1867 non-null   int64
 4   month             1867 non-null   int64
 5   min_temp          1867 non-null   float64
 6   pressure          1867 non-null   float64
dtypes: float64(2), int64(4), object(1)
memory usage: 102.2+ KB

In [18]:
data[0]["terrestrial_date"]=pd.to_datetime(data[0]["terrestrial_date"], format="%Y-%m-%d")

In [19]:
data[0].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1867 entries, 0 to 1866
Data columns (total 7 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                1867 non-null   int64
 1   terrestrial_date  1867 non-null   datetime64[ns]
 2   sol               1867 non-null   int64
 3   ls                1867 non-null   int64
 4   month             1867 non-null   int64
 5   min_temp          1867 non-null   float64
 6   pressure          1867 non-null   float64
dtypes: datetime64[ns](1), float64(2), int64(4)
memory usage: 102.2 KB